@import "./tailwind.css";
@import "./theme.css";

html,
body {
  overflow-x: hidden;
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
